.about__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.about__video__container{
    position: relative;
    width: 100%;
    max-width: 600px;
    padding-top: 33%;
}

.about__video__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


@media(max-width: 1200px) {
    .about__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .about__video__container{
        padding-top: 56%;
    }
}

