.course__name{
    text-align: center;
}

.course-title{
    font-size: 14px;
    text-align: center;
    text-transform: none;
}

.course__name__container{
    margin: 20px 0;
}

.course__image{
    text-align: center;
}